/*
Custom Css
*/
.next:active{
    background-color: green;
}
body{
    background-color:grey;
}
.map-container{
    overflow-x: hidden;
   
}
.text-default{
color: #F39C12 !important;
}
.nav-link:hover{
    color: #F39C12 !important;
}
.btn-default{
    background-color: #F39C12 !important;
}
.bg-default{
    background-color: #F39C12 !important;
}