/*
Custom Css
*/
.next:active{
    background-color: green;
}
body{
    background-color:grey;
}
.map-container{
    overflow-x: hidden;
   
}
.text-default{
color: #FF6347 !important;
}
.nav-link:hover{
    color: #FF6347 !important;
}